pc/AudioWire.exe
pc/*.o
linux/audiowire
android/AudioWire.apk
android/*.idsig
android/*.keystore
android/android-34.jar
android/build_apk/
android/.gradle/
android/build/
android/app/build/
android/local.properties
.idea/
*.iml

# Claves de firma en cualquier carpeta
*.keystore
*.jks
